# Plator Environment Variables

# Base Application URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# ImageKit Configuration (Optional: For Curated Wallpaper & Meme Asset Hub)
NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY=""
IMAGEKIT_PRIVATE_KEY=""
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=""

# Database Connection (Optional: For Prisma data persistence)
DATABASE_URL="postgresql://user:password@localhost:5432/plator?sslmode=require"
